* {
    direction: rtl;
    text-align: right;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main, header ,footer{
    width: 900px;
    margin: auto;
}
.row{
height: 355px;
width: 900px;
display: block;
position: relative;
}

.column-right, .column-middle ,.column-left{
    display: block;
    position: relative;
    float: right;
}
.column-middle{
    margin: 4px;
}
.column-right{
    margin: 0px 0px 0px 6px;
}
.column-left{
    margin: 0px 6px 0px 0px;
}
.column-middle{
    margin : 0px 6px 0px 6px;
}
.link-img{
    position: relative;
    display: inline;
}
.img-row{
    display: block;
    float:right;
    position: relative;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.overlay-img {
    position: absolute;
    display: block;
    top: 50px;
    right: 24px;
}
.floating-text {
    position: absolute;
    display: block;
    top: 50px;
    right: 24px;
}