* {
    direction: rtl;
    text-align: right;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    margin: auto;
}
.main-area {
    width: 900px;
    margin: auto;
}
#top-banner{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0px;
    z-index: 100;
    height: 105px;
    background: linear-gradient(dimgray, lightgrey);
    width: auto;
}
#bottom-banner{
    position: fixed;
    display: block;
    bottom: 0;
    z-index: 100;
}
main{
    width: 900px;
    margin: auto;
    margin-top: 30px;
}
header ,footer{
    width: 900px;
    margin: auto;
}
.row{
height: 355px;
width: 900px;
display: block;
position: relative;
margin-top: 30px;
}

.column-right, .column-middle ,.column-left{
    display: block;
    position: relative;
    float: right;
}
.column-middle{
    margin: 4px;
}
.column-right{
    margin: 0px 0px 0px 6px;
}
.column-left{
    margin: 0px 6px 0px 0px;
}
.column-middle{
    margin : 0px 6px 0px 6px;
}
.floating-text {
    position: absolute;
    display: block;
    top: 225px;
    margin: 10px;
    padding: 10px;
    background-color:rgba(120, 120, 120, 0.8);
    font-weight: bold;
    color: rgb(240, 240, 240);
    font-size: 80%;
    border-radius: 0px 0px 30px 0px;
    height: 110px;
}
.floating-text-row2 {
    position: absolute;
    display: block;
    top: 0px;
    margin: 8px;
    padding: 3px;
    font-weight: bold;
    font-size: 80%;
    right: 15px;
    color: rgb(120, 120,120)
}
.overlay-link-row2{
    position: absolute;
    display: block;
    top: 180px;
    right: 164px;
}
.overlay-link-row2 a{
    text-decoration: unset;
    color: rgb(120, 120,120)  
}
.overlay-link-row2 a:hover{
    text-decoration: underline;
    color: blue;
}
.overlay-link-row2-map{
    position: absolute;
    display: block;
    top: 50px;
    right: 25px;
}
.overlay-link-row2-map a{
    text-decoration: unset;
    color: rgb(120, 120,120)
}
.overlay-link-row2-map a:hover{
    text-decoration: underline;
    color: blue;
}
.left-txt-link > a {
    text-align: inherit;
    text-decoration: none;
    color: rgb(240, 240, 240);
}
.left-txt-link {
    float: left;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 200px;
}
.link-img{
    position: relative;
    display: inline;
}
.img-row{
    display: block;
    float:right;
    position: relative;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.overlay-img {
    position: absolute;
    display: block;
    top: 50px;
    right: 24px;
}
.overlay-img-map {
    position: absolute;
    display: block;
    top: 40px;
    right: 190px;
}
.img-row1{
    border-radius: 0px 0px 30px 0px;
}
header{
    height: 105px;
    background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(222,222,222,1) 3%, rgba(176,176,176,1) 6%,  rgba(150,150,150,1) 12%, rgba(90,90,90,1) 100%);
    width: 100%;
}
footer{
    height: 55px;
    background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(222,222,222,1) 3%, rgba(176,176,176,1) 6%,  rgba(150,150,150,1) 12%, rgba(90,90,90,1) 100%);
    width: 100%;
    position: fixed;
    bottom: 0px
}
.logo{
    display: block;
    position: absolute;
    top: 30px;
}
.footer-links a {
    text-decoration: unset;
    color: rgb(240, 240, 240);
    align-content: center;
}
.footer-links{
    position: fixed;
    bottom: 0px;
    line-height: 50px;
    margin: 0px 20px 0px 20px;
    color: rgb(240, 240, 240);
    width: 900px;
}
#fb-logo{
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}
.menu li{
       float: right;
       padding: 15px;
}
.menu li{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.menu ul{
    padding-right: 140px;
    padding-top: 50px;
}
.dropdown {
    display: inline-block;
    display: none;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content{
    position: absolute;
    display: block;
    float: right;
    display: none;
    z-index: 100;
    background: linear-gradient(180deg, rgba(240,240,240,1) 0%, rgba(222,222,222,1) 3%, rgba(176,176,176,1) 6%,  rgba(150,150,150,1) 12%, rgba(90,90,90,1) 100%);
    top: 105px;
}
.dropdown li{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: right;
}
.dropdown a{
    color: white;
    padding: 5px;
    text-decoration: none;   
}
.dropdown-content a {
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
    text-align: right;
    border: 1px white;
    border-bottom: rgba(176,176,176,1) 1px solid;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: lightskyblue;
    text-decoration: underline;

}